html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;   
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Lato', sans-serif;  
  background-color: #202020;
  background-image: url('/img/efe-yagiz-soysal-DGyVvAJNyPE-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% center;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
  margin-top: 0;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

h1 {
  font-size: calc(2rem + 2vw);
}

.box {
  position: relative;
  background-color: #3a5097;
  color: #ffffff;
  width: 90vw;
  max-width: 700px;
  padding: 2rem;
  border-radius: 12px;
  top: 15vh;
  left: 5vw;
  font-size: 1.25rem;
  line-height: 1.5;
}

.distanceTop{
  margin-top: 200px;
}
.container{
  width: 900px;
}

.alert{
  display: none;
}

.voirQuestion{
  opacity: 0;
  transition: opacity 0.5s;
}
#afficheResultat{
  margin-left: 30px;
}

.ui-dialog {
  overflow: hidden !important;
  position: absolute !important;
  top: 30% !important;
  left:40% !important;
  padding: .2em !important;
  outline: 0 !important;}

.profilUtilisateur{
  padding: 50px 0 0 250px;
}

.motBienvenue{
  padding:  50px 150px 0 0;
}
.questionaireShow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.stylehr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
}
.container{
  padding-top : 50px;
  padding-bottom : 50px;
  padding-left: 70px !important;
}
#datatable_wrapper{
  margin-left: 20px;
}
#accordion{
  margin-right: 40px;
}
.classetransition {
  animation : questionSuivant 1s;
}

  @keyframes questionSuivant{
    from{
      right: -2000px;

  }
  to {
    left: 2000px;
  }
}

